body
{
background-color: red;
margin: 0;
padding: 0;
}
header
{
    background-color: aliceblue;
    text-align: center;
    padding: 6px;
}
nav
{
    text-align: center;
    margin: 7px;
}
nav a
{
    text-decoration: none;
    margin: 6px;
    background-color: antiquewhite;
    padding: 9px;
    border-radius: 3px;
}
footer
{
    text-align: center;
    color: azure;
    background-color: black;
}
section
{
    text-align: center;
}
section h1
{
    color: blue;
    text-align: center;
}
section h2
{
    color:blanchedalmond;
    text-align: center;
}
section article
{
    color: burlywood;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
section p
{
    color: aqua;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}
#Kitler
{
    width: 300px;
    height: 99px;
}
